<ng-include src="'/views/hero.html'"></ng-include>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger" role="alert" ng-show="globalErrorMessage">
            <strong>Oh snap!</strong> {{ globalErrorMessage }}
        </div>

        <div class="alert alert-success" role="alert" ng-show="globalGoodMessage">
            <strong>Success!</strong> {{ globalGoodMessage }}
        </div>

        <form class="form-horizontal" ng-if="viewReady">

            <div class="form-group" ng-if="!newItem && !fromWindow">
                <label for="inputFavourite" class="col-sm-2 control-label">
                    {{ 'bookmark.favourite' | translate }}
                </label>

                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="bookmark.favourite" id="inputFavourite">
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">
                    {{ 'bookmark.title' | translate }}
                </label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="bookmark.title" id="inputTitle"
                           placeholder="{{ 'bookmark.title' | translate }}">
                </div>
            </div>

            <div class="form-group">
                <label for="inputLink" class="col-sm-2 control-label">
                    {{ 'bookmark.link' | translate }}
                </label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="bookmark.link" id="inputLink" placeholder="{{ 'bookmark.link' | translate }}">
                </div>
            </div>

            <div class="form-group" ng-if="!fromWindow">
                <label class="col-sm-2 control-label">Snippet</label>

                <div class="col-sm-10" ng-if="canViewSnippet">
                    <div class="ace-snippet-container">
                        <div ng-model="bookmark.snippet"
                             ui-ace="{ useWrapMode : true, showGutter: false, theme:'github', mode:'snippets' }"></div>
                    </div>
                </div>

                <div class="col-sm-10" ng-if="!canViewSnippet">
                    <button type="button" class="btn btn-default btn-xs" ng-click="enableSnippet()">
                        {{ 'bookmark.enable' | translate }}
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label for="inputCategory" class="col-sm-2 control-label">
                    {{ 'bookmark.category' | translate }}
                </label>

                <div class="col-sm-10">
                    <div angucomplete-alt
                         id="inputCategory"
                         placeholder="{{ 'bookmark.search' | translate }}"
                         initial-value="bookmark.category"
                         maxlength="100"
                         pause="10"
                         selected-object="categorySelect"
                         local-data="categories"
                         search-fields="name"
                         override-suggestions="true"
                         title-field="name"
                         minlength="1"
                         input-class="form-control"
                         match-class="highlight"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputTags2" class="col-sm-2 control-label">
                    {{ 'bookmark.tags' | translate }}
                </label>

                <div class="col-sm-10">
                    <span class="loading-tags">loading tags...</span>

                    <select custom-select-2
                            id="tagsSelect2"
                            multiple
                            tagsattribute="bookmark.tags"
                            newitemattribute="newItem"
                            style="width: 100%"
                            ng-model="bookmark.tags"
                            class="hidden"></select>
                </div>
            </div>

            <div class="alert alert-danger" role="alert" ng-show="errorMessage">
                <strong>Oh snap!</strong> {{ errorMessage }}
            </div>

            <div class="alert alert-success" role="alert" ng-show="goodMessage">
                <strong>Success!</strong> {{ goodMessage }}
            </div>

            <div class="alert alert-warning" role="alert" ng-if="duplicates.length > 0">
                <strong>Warning</strong> {{ duplicates.length }} duplicates found:

                <ul>
                    <li ng-repeat="dup in duplicates"> <a href="{{ dup.link }}" target="_blank">{{ dup.title }}</a></li>
                </ul>
            </div>

            <div>
                <div class="col-sm-10 col-sm-offset-2 alert" role="alert" ng-if="busyWithAction">
                    <i class="fa fa-spinner fa-pulse fa-lg"></i>
                </div>

                <div class="col-sm-10 col-sm-offset-2" ng-if="!busyWithAction">
                    <button type="button" class="btn btn-primary" ng-if="newItem" ng-click="createBookmark()">
                        {{ 'bookmark.create' | translate }}
                    </button>

                    <button type="button" class="btn btn-primary" ng-if="!newItem" ng-click="updateBookmark(false)">
                        {{ 'bookmark.save' | translate }}
                    </button>

                    <button type="button" class="btn btn-primary" ng-if="!newItem && !fromWindow"
                            ng-click="updateBookmark(true)">
                        {{ 'bookmark.saveandclose' | translate }}
                    </button>

                    <button type="button" class="btn btn-default" ng-if="!fromWindow" ng-click="cancelUpdate()">
                        {{ 'bookmark.back' | translate }}
                    </button>

                    <button type="button" class="btn btn-default" ng-if="!newItem && fromWindow" ng-click="closeWindow();">
                        {{ 'bookmark.close' | translate }}
                    </button>

                    <button type="button" class="btn btn-danger pull-right" ng-if="!newItem"
                            ng-click="deleteBookmark()">
                        {{ 'bookmark.delete' | translate }}
                    </button>
                </div>
            </div>
        </form>

        <br/>
    </div>
</div>
