<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger" role="alert" ng-show="globalErrorMessage">
            <strong>Oh snap!</strong> {{ globalErrorMessage }}
        </div>

        <div class="alert alert-success" role="alert" ng-show="globalGoodMessage">
            <strong>Success!</strong> {{ globalGoodMessage }}
        </div>

        <form class="form-horizontal" ng-if="viewReady">

            <div class="form-group">
                <label for="inputFavourite" class="col-sm-2 control-label">Favourite</label>

                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="bookmark.favourite" id="inputFavourite">
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Title</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="bookmark.title" id="inputTitle"
                           placeholder="Title">
                </div>
            </div>

            <div class="form-group">
                <label for="inputLink" class="col-sm-2 control-label">Link</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="bookmark.link" id="inputLink" placeholder="Link">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Snippet</label>

                <div class="col-sm-10" ng-if="canViewSnippet">
                    <section>
                        <div ng-model="bookmark.snippet" ui-ace="{
      useWrapMode : true,
      showGutter: false,
      theme:'twilight'
    }"></div>
                    </section>
                </div>

                <div class="col-sm-10" ng-if="!canViewSnippet">
                    <button type="button" class="btn btn-default btn-xs" ng-click="enableSnippet()">Enable</button>
                </div>
            </div>

            <div class="form-group">
                <label for="inputCategory" class="col-sm-2 control-label">Category</label>

                <div class="col-sm-10">
                    <div angucomplete-alt
                         id="inputCategory"
                         placeholder="Search categories"
                         initial-value="bookmark.category"
                         maxlength="100"
                         pause="10"
                         selected-object="categorySelect"
                         local-data="categories"
                         search-fields="name"
                         override-suggestions="true"
                         title-field="name"
                         minlength="1"
                         input-class="form-control"
                         match-class="highlight"
                            ></div>
                    <!--<input type="text" class="form-control" ng-model="bookmark.category" id="inputCategory" placeholder="Category">-->
                </div>
            </div>

            <div class="form-group">
                <label for="inputTags" class="col-sm-2 control-label">Tags</label>

                <div class="col-sm-10">
                    <tag-manager tags="bookmark.tags"></tag-manager>
                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<label for="inputTags2" class="col-sm-2 control-label">Tags 2</label>-->

                <!--<div class="col-sm-10">-->

                    <!--&lt;!&ndash;<select2 multiple&ndash;&gt;-->
                            <!--&lt;!&ndash;ng-model="xxx"&ndash;&gt;-->
                            <!--&lt;!&ndash;s2-options="id as name for (id, name) in multipleOptions"&ndash;&gt;-->
                            <!--&lt;!&ndash;options="queryOptions">&ndash;&gt;-->
                    <!--&lt;!&ndash;</select2>&ndash;&gt;-->

                    <!--<select custom-select-2 style="width: 100%" tags="bookmark.tags" multiple>-->
                        <!--&lt;!&ndash;<option ng-repeat="tag in bookmark.tags" selected="selected">&ndash;&gt;-->
                            <!--&lt;!&ndash;{{ tag }}&ndash;&gt;-->
                        <!--&lt;!&ndash;</option>&ndash;&gt;-->
                    <!--</select>-->

                    <!--&lt;!&ndash;<selectc xxng-model="bookmark.tags">&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>Peter</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>Pan</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</select>&ndash;&gt;-->

                    <!--&lt;!&ndash;<select id="inputTags2" class="js-example-tags form-control" multiple="" tabindex="-1">&ndash;&gt;-->
                        <!--&lt;!&ndash;<option selected="selected">orange</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>white</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option selected="selected">purple</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="red">red</option><option value="blue">blue</option><option value="green">green</option><option value="someone" data-select2-tag="true">someone</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</select>&ndash;&gt;-->

                <!--</div>-->
            <!--</div>-->

            <div class="alert alert-danger" role="alert" ng-show="errorMessage">
                <strong>Oh snap!</strong> {{ errorMessage }}
            </div>

            <div class="alert alert-success" role="alert" ng-show="goodMessage">
                <strong>Success!</strong> {{ goodMessage }}
            </div>

            <div class="alert alert-warning" role="alert" ng-if="duplicates.length > 0">

                <strong>Warning</strong> {{ duplicates.length }} duplicates found:
                <ul>
                    <li ng-repeat="dup in duplicates"> <a href="{{ dup.link }}" target="_blank">{{ dup.title }}</a></li>
                </ul>
            </div>

            <div>
                <div class="col-sm-10 col-sm-offset-2 alert" role="alert" ng-if="busyWithAction">
                    <i class="fa fa-spinner fa-pulse fa-lg"></i>
                </div>

                <div class="col-sm-10 col-sm-offset-2" ng-if="!busyWithAction">
                    <button type="button" class="btn btn-primary" ng-if="newItem" ng-click="createBookmark()">Create
                    </button>

                    <button type="button" class="btn btn-primary" ng-if="!newItem" ng-click="updateBookmark(false)">
                        Save
                    </button>

                    <button type="button" class="btn btn-primary" ng-if="!newItem && !openFromWindow"
                            ng-click="updateBookmark(true)">Save and Close
                    </button>

                    <button type="button" class="btn btn-default" ng-if="!openFromWindow" ng-click="cancelUpdate()">
                        Back
                    </button>

                    <button type="button" class="btn btn-default" ng-if="openFromWindow" ng-click="closeWindow();">
                        Close
                    </button>

                    <button type="button" class="btn btn-danger pull-right" ng-if="!newItem"
                            ng-click="deleteBookmark()">Delete
                    </button>
                </div>
            </div>
        </form>

        <br/>
    </div>
</div>
