<div class="row" ng-if="viewReady">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert" ng-show="globalErrorMessage" ng-click="globalErrorMessage=''">
            <strong>Oh snap!</strong> {{ globalErrorMessage }}
        </div>

        <div class="alert alert-success" role="alert" ng-show="globalGoodMessage" ng-click="globalGoodMessage=''">
            <strong>Success!</strong> {{ globalGoodMessage }}
        </div>
    </div>

    <div class="col-md-3">

        <div class="panel panel-primary categories" ng-if="categories.length > 1">
            <div class="panel-heading">Categories</div>

            <ul class="list-group text-primary">
                <li ng-repeat="category in categories"
                    class="list-group-item click-item"
                    ng-click="toggleCategory(category)"
                    ng-class="{'li-item-selected': category.selected,'li-hidden': category.hidden}">
                    {{category.name}}
                    <span class="badge">{{category.count}}</span>
                </li>

                <li class="list-group-item click-item text-center"
                    ng-class="{'li-hidden': !showDetails}"
                    ng-init="showDetails = true"
                    ng-if="categories.length > 5"
                    ng-click="loadMore(this); showDetails = !showDetails;">
                    load more...
                </li>
            </ul>
        </div>

        <div class="panel panel-primary" ng-if="tags.length > 1">
            <div class="panel-heading">Tags</div>

            <div id="tagcloud">
                <ul ng-init="calculateMaxCloudTagValue()">
                    <li ng-repeat="tag in tags" ng-class="getCloudClass(tag)">
                        <a href
                           class="text-primary"
                           ng-click="toggleTag(tag)"
                           ng-class="{'li-item-selected': tag.selected}">
                            {{ tag.name | cut:true:40 }}
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="panel">
            <p>
                <a href class="btn btn-sm btn-primary btn-block" role="button" ng-click="newBookmark()">New Bookmark</a>

                <span class="btn btn-sm btn-primary btn-file btn-block">
                    Import Bookmarks

                    <input type="file" name="bookmarkfile" role="button"
                        onchange="angular.element(this).scope().uploadFile(this.files)"
                        />
                    <i class="fa fa-spinner fa-pulse fa-lg" ng-if="busyImporting"></i>
                </span>

                <a href class="btn btn-sm btn-primary btn-block" role="button" ng-click="editUser()">Update User</a>

                <a href class="btn btn-sm btn-primary btn-block" role="button" ng-click="exportData()">Export Data</a>

                <a href class="btn btn-sm btn-default btn-block" role="button" ng-click="logout()">Logout</a>
            </p>
        </div>

    </div>

    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="has-feedback">
                    <input id="searchText" class="form-control" ng-model="search" type="text" placeholder="Refine search"
                           autofocus ng-keyup="searchKeyUp(search)">
                    <span id="search-clear" class="glyphicon glyphicon-remove-circle" ng-click="clearSearch()"></span>
                </div>
            </div>

            <div>
                <div class="alert" role="alert" ng-if="loadingBookmarks">
                    Loading <i class="fa fa-spinner fa-pulse fa-lg"></i>
                </div>

                <div class="bs-callout custom-bs-callout"
                        ng-repeat="bookmark in filteredBookmarks = ( bookmarks | filter:query )"
                        ng-click="gotoBookmark($event, bookmark)"
                        ng-class="{ 'bg-success': bookmark.favourite }">
                    <div>
                        <h4>
                            <span>
                                <img ng-src="{{ bookmark.icon }}" ng-if="bookmark.icon"/>
                            </span>

                            {{ bookmark.title || '( No Title )' }}
                        </h4>

                        <a href="{{ bookmark.link }}" target="_blank">{{ bookmark.link | cut:true:80 }}</a>

                        <span ng-click="editBookmark($event, bookmark)"
                              class="pull-right glyphicon glyphicon-option-vertical edit-bookmark"
                              aria-hidden="true">
                </span>
                    </div>

                    <div>
                        <span ng-repeat="tag in bookmark.tags" class="tag-item label bg-primary">{{ tag }}</span>
                    </div>
                </div>

                <div class="text-center prev-next" ng-if="!loadingBookmarks">
                    <button type="button" class="btn btn-primary" ng-if="bookmarkResults.page > 1"
                            ng-click="prevPage()">
                        Previous
                    </button>

                    <button type="button" class="btn btn-primary"
                            ng-if="bookmarkResults.page < bookmarkResults.maxPages"
                            ng-click="nextPage()">Next
                    </button>

                    <p class="pull-right text-center text-primary prev-next-pages"
                       ng-if="bookmarkResults.page > 1 || bookmarkResults.page < bookmarkResults.maxPages">{{
                        bookmarkResults.page
                        }} / {{ bookmarkResults.maxPages }}</p>
                </div>

                <div class="alert" role="alert" ng-if="!loadingBookmarks && filteredBookmarks.length === 0">
                    no data found, try clicking on some filters
                </div>

                <div class="alert" role="alert" ng-if="badDataResponse">
                    {{ badDataResponse }}
                </div>
            </div>
        </div>
    </div>
</div>
