<div class="row" ng-if="viewReady">
	<div class="col-md-4"></div>

	<div class="col-md-4">

		<div class="alert alert-danger" role="alert" ng-show="errorMessage">
			<strong>Oh snap!</strong> {{ errorMessage }}
		</div>

		<div class="alert alert-success" role="alert" ng-show="goodMessage">
			<strong>Success!</strong> {{ goodMessage }}
		</div>

		<form ng-submit="submitLogin()">
			<h4 class="form-signin-heading">Please sign in</h4>

			<div class="form-group">
				<input type="text" name="username" value="admin" class="form-control" placeholder="Login name"
							 ng-model="loginData.username">
			</div>

			<div class="form-group">
				<input type="password" name="password" value="nimda1" class="form-control" placeholder="Password"
							 ng-model="loginData.password">
			</div>

			<button type="submit" class="btn btn-primary btn-small btn-block" ng-hide="busyProcessing">Sign in</button>

			<button class="btn btn-default btn-primary btn-block disabled" ng-show="busyProcessing"><i
				class="fa fa-spinner fa-pulse fa-lg"></i></button>
		</form>
	</div>
</div>
